# Dependencies
node_modules/

# Build output
dist/
out/
build/

# Tools
distanceTool/
receiptTool/detections

# Database
*.db
*.sqlite

# OS files
.DS_Store

#credentials for mariadb server
src/main/credentials.json

# unit tests
src/dima-sql-tests/

#python cache files
__pycache__
